In [46]:
!pip install pandas

Requirement already satisfied: pandas in /Users/millionairemacmillionairemac/Developer/anbin-bao-ai-sales-bot-llama-3/env/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /Users/millionairemacmillionairemac/Developer/anbin-bao-ai-sales-bot-llama-3/env/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/millionairemacmillionairemac/Developer/anbin-bao-ai-sales-bot-llama-3/env/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/millionairemacmillionairemac/Developer/anbin-bao-ai-sales-bot-llama-3/env/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/millionairemacmillionairemac/Developer/anbin-bao-ai-sales-bot-llama-3/env/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/millionairemacmillionairemac/Developer/anbin-bao-ai-sales-bot-llama-3/env/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

**Let's import the data we need that's already been saved to the `formatted` directory.  We'll be saving the processed data to `checkpoints` folder**

In [47]:
# Import necessary libraries
import pandas as pd
import os

# Read the CSV file
# Read all motorcycle CSV files
csv_files = [f for f in os.listdir('../data/formatted/') if f.startswith('motorcycle') and f.endswith('.csv')]
dfs = []
for file in csv_files:
    df_temp = pd.read_csv(f'../data/formatted/{file}')
    dfs.append(df_temp)
    
# Combine all dataframes
df = pd.concat(dfs, ignore_index=True)

# Display first few rows to verify data loading
print("Dataset shape:", df.shape)
df.head()

Dataset shape: (3254, 23)

,Model Name,Reference Price (Yuan),Brand,Model,Production Method,Origin,Engine,Max Horsepower (Ps),Max Power/Speed (kW/rpm),Max Torque/Speed (N·m/rpm),...,Dimensions (LxWxH mm),Seat Height (mm),Curb Weight (kg),Fuel Tank Capacity (L),Max Speed (km/h),Official Average Fuel Consumption (L/100km),Measured Average Fuel Consumption (L/100km),Range (km),Warranty,Available Colors
0,钛极 NEXY+/未界,Currently no quotation available,titanium,pedal,domestic,NaN,single cylinder four stroke water-cooled 150cc,15.8,11.6/8500,NaN,...,1970x770x1150,765.0,136.0,8.0,105.0,-,NaN,-,NaN,NaN
1,钛极 BOHEMIA/波西米亚,Currently no quotation available,titanium,pedal,domestic,NaN,single cylinder four stroke water-cooled 150cc,15.8,11.6/8500,NaN,...,1920x740x1120,785.0,130.0,8.0,100.0,-,NaN,-,NaN,Titanium Extreme Silver
2,钛极 PHANTOM/飞腾,Currently no quotation available,titanium,pedal,domestic,NaN,single cylinder four stroke water-cooled 300cc,25.2,18.5/8250,NaN,...,1900x790x1200,775.0,150.0,11.0,118.0,-,NaN,-,NaN,Dark Night Black
3,钛极 HELLCAT/地狱猫,Currently no quotation available,titanium,street car,domestic production,NaN,inline dual cylinder water-cooled 250cc,32.6,24/9500,NaN,...,2100x805x1060,710.0,168.0,13.0,120.0,-,NaN,-,NaN,Titanium Extreme Silver
4,柴特 ZFR525C 复仇者,29900,Chaite,sports car,domestic production,Jiangmen Changhua Group Co.,inline dual cylinder four stroke water-cooled ...,53.8,39.6/8500,NaN,...,205x80x1150,790.0,199.0,15.0,195.0,3.6,NaN,400,NaN,"Ice White, Track Blue"

**Ok.  Looks like our data is all there but we have NaN values in some columns.  This will just be the first step as we have strange commas and other things in the data.**

**Removing special characters is a good first step.**

In [48]:
# Clean string data by removing leading/trailing whitespace and special characters
def clean_string(value):
    if pd.isna(value) or not isinstance(value, str):
        return value
    # Remove leading/trailing whitespace
    value = value.strip()
    # Remove leading/trailing commas, dots, and other common special characters
    value = value.strip('.,;:\"\'')
    # Replace multiple spaces with single space
    value = ' '.join(value.split())
    return value

# Apply cleaning to all string (object) columns
for column in df.select_dtypes(include=['object']).columns:
    df[column] = df[column].apply(clean_string)
    
    # Print a sample of changes made (first 5 changes)
    mask = df[column] != df[column].apply(lambda x: x if pd.isna(x) else x.strip())
    if mask.any():
        print(f"\nCleaning results for {column}:")
        changes = pd.DataFrame({
            'Before': df[column][mask],
            'After': df[column].apply(lambda x: x if pd.isna(x) else x.strip())[mask]
        })
        print(changes.head())

# Remove any rows that are completely empty (all values are NaN)
initial_rows = len(df)
df = df.dropna(how='all')
rows_removed = initial_rows - len(df)
if rows_removed > 0:
    print(f"\nRemoved {rows_removed} completely empty rows")

print("\nCleaning complete!")

Cleaning results for Reference Price (Yuan):
    Before After
37     NaN   NaN
119    NaN   NaN
120    NaN   NaN
122    NaN   NaN
123    NaN   NaN

Cleaning results for Brand:
    Before After
122    NaN   NaN
123    NaN   NaN
124    NaN   NaN
126    NaN   NaN
127    NaN   NaN

Cleaning results for Model:
    Before After
59     NaN   NaN
105    NaN   NaN
106    NaN   NaN
107    NaN   NaN
108    NaN   NaN

Cleaning results for Production Method:
    Before After
59     NaN   NaN
127    NaN   NaN
128    NaN   NaN
322    NaN   NaN
323    NaN   NaN

Cleaning results for Origin:
  Before After
0    NaN   NaN
1    NaN   NaN
2    NaN   NaN
3    NaN   NaN
5    NaN   NaN

Cleaning results for Engine:
   Before After
22    NaN   NaN
43    NaN   NaN
76    NaN   NaN
77    NaN   NaN
78    NaN   NaN

Cleaning results for Max Power/Speed (kW/rpm):
   Before After
22    NaN   NaN
43    NaN   NaN
62    NaN   NaN
76    NaN   NaN
77    NaN   NaN

Cleaning results for Transmission:
   Before After
0     NaN   NaN
22    NaN   NaN
43    NaN   NaN
76    NaN   NaN
77    NaN   NaN

Cleaning results for ABS:
   Before After
17    NaN   NaN
18    NaN   NaN
19    NaN   NaN
33    NaN   NaN
36    NaN   NaN

Cleaning results for Dimensions (LxWxH mm):
   Before After
5     NaN   NaN
22    NaN   NaN
43    NaN   NaN
84    NaN   NaN
85    NaN   NaN

Cleaning results for Official Average Fuel Consumption (L/100km):
   Before After
22    NaN   NaN
43    NaN   NaN
76    NaN   NaN
77    NaN   NaN
78    NaN   NaN

Cleaning results for Warranty:
  Before After
0    NaN   NaN
1    NaN   NaN
2    NaN   NaN
3    NaN   NaN
4    NaN   NaN

Cleaning results for Available Colors:
   Before After
0     NaN   NaN
5     NaN   NaN
9     NaN   NaN
10    NaN   NaN
11    NaN   NaN

Cleaning complete!

**Is there any data missing?**

In [49]:
# Get total number of rows in the dataset
print(f"\nTotal number of rows: {len(df)}")

# Calculate and display number of NaN values for each column
nan_counts = df.isna().sum()
print("\nNumber of NaN values per column:")
print(nan_counts)

# Calculate percentage of NaN values
nan_percentages = (df.isna().sum() / len(df)) * 100
print("\nPercentage of NaN values per column:")
print(nan_percentages.round(2))

Total number of rows: 3254

Number of NaN values per column:
Model Name                                        0
Reference Price (Yuan)                          533
Brand                                            37
Model                                           296
Production Method                               116
Origin                                         2204
Engine                                          488
Max Horsepower (Ps)                            1003
Max Power/Speed (kW/rpm)                        992
Max Torque/Speed (N·m/rpm)                     3254
Transmission                                    466
ABS                                             314
CBS                                               0
Dimensions (LxWxH mm)                           684
Seat Height (mm)                               1427
Curb Weight (kg)                               1104
Fuel Tank Capacity (L)                          453
Max Speed (km/h)                               1336
Official Average Fuel Consumption (L/100km)     453
Measured Average Fuel Consumption (L/100km)    3254
Range (km)                                        0
Warranty                                       3077
Available Colors                               2304
dtype: int64

Percentage of NaN values per column:
Model Name                                       0.00
Reference Price (Yuan)                          16.38
Brand                                            1.14
Model                                            9.10
Production Method                                3.56
Origin                                          67.73
Engine                                          15.00
Max Horsepower (Ps)                             30.82
Max Power/Speed (kW/rpm)                        30.49
Max Torque/Speed (N·m/rpm)                     100.00
Transmission                                    14.32
ABS                                              9.65
CBS                                              0.00
Dimensions (LxWxH mm)                           21.02
Seat Height (mm)                                43.85
Curb Weight (kg)                                33.93
Fuel Tank Capacity (L)                          13.92
Max Speed (km/h)                                41.06
Official Average Fuel Consumption (L/100km)     13.92
Measured Average Fuel Consumption (L/100km)    100.00
Range (km)                                       0.00
Warranty                                        94.56
Available Colors                                70.81
dtype: float64

**Wow looks like quite a bit is missing.  We'll drop columns with more than 90% missing values.**

In [50]:
# Drop columns with more than 90% NaN values
threshold = 0.9  # 90% threshold
columns_to_drop = nan_percentages[nan_percentages > 90].index
df = df.drop(columns=columns_to_drop)

# Remove rows where price is NaN
price_col = 'Reference Price (Yuan)'
initial_rows = len(df)
df = df.dropna(subset=[price_col])
rows_removed = initial_rows - len(df)
print(f"\nRemoved {rows_removed} rows with missing price values")

# Replace brand values less than 3 characters with 'Not Specified'
df.loc[df['Brand'].fillna('').str.len() < 3, 'Brand'] = 'Not Specified'

# Capitalize model values
df['Model'] = df['Model'].str.capitalize()

print("\nColumns dropped due to >90% missing values:")
print(columns_to_drop.tolist())

print("\nRemaining columns:")
print(df.columns.tolist())

Removed 533 rows with missing price values

Columns dropped due to >90% missing values:
['Max Torque/Speed (N·m/rpm)', 'Measured Average Fuel Consumption (L/100km)', 'Warranty']

Remaining columns:
['Model Name', 'Reference Price (Yuan)', 'Brand', 'Model', 'Production Method', 'Origin', 'Engine', 'Max Horsepower (Ps)', 'Max Power/Speed (kW/rpm)', 'Transmission', 'ABS', 'CBS', 'Dimensions (LxWxH mm)', 'Seat Height (mm)', 'Curb Weight (kg)', 'Fuel Tank Capacity (L)', 'Max Speed (km/h)', 'Official Average Fuel Consumption (L/100km)', 'Range (km)', 'Available Colors']

In [51]:
# Get detailed info about remaining columns
print("Detailed analysis of remaining features:")
for column in df.columns:
    nan_pct = (df[column].isna().sum() / len(df)) * 100
    unique_vals = df[column].nunique()
    dtype = df[column].dtype
    
    print(f"\n{column}:")
    print(f"Missing values: {nan_pct:.2f}%")
    print(f"Data type: {dtype}")
    print(f"Number of unique values: {unique_vals}")
    if dtype in ['object', 'category']:
        print("Top 5 most common values:")
        print(df[column].value_counts().head())
    elif dtype in ['int64', 'float64']:
        print(f"Mean: {df[column].mean():.2f}")
        print(f"Median: {df[column].median():.2f}")

Detailed analysis of remaining features:

Model Name:
Missing values: 0.00%
Data type: object
Number of unique values: 2699
Top 5 most common values:
Model Name
金城 草蜢 200 警用版    2
力箭 海盗800         2
力箭 海盗500         2
力箭 LJ250B        2
力箭 海盗300         2
Name: count, dtype: int64

Reference Price (Yuan):
Missing values: 0.00%
Data type: object
Number of unique values: 681
Top 5 most common values:
Reference Price (Yuan)
Currently no quotation available    788
7980                                 46
6980                                 41
8980                                 28
23800                                23
Name: count, dtype: int64

Brand:
Missing values: 0.00%
Data type: object
Number of unique values: 253
Top 5 most common values:
Brand
Haojue      108
Zongshen     95
BIMOTA       85
Benelli      77
Sanyang      75
Name: count, dtype: int64

Model:
Missing values: 7.83%
Data type: object
Number of unique values: 11
Top 5 most common values:
Model
Pedal                    1030
Street car                453
Retro                     227
Cruising crown prince     179
Off road                  157
Name: count, dtype: int64

Production Method:
Missing values: 4.08%
Data type: object
Number of unique values: 8
Top 5 most common values:
Production Method
domestic                 1099
Domestic                  619
domestic production       608
imported                   86
domestically produced      75
Name: count, dtype: int64

Origin:
Missing values: 66.48%
Data type: object
Number of unique values: 133
Top 5 most common values:
Origin
Zhejiang Qianjiang Motorcycle Co                           101
Zhuzhou Nanfang Motorcycle Co                               31
Chongqing Zongshen Locomotive Industry Manufacturing Co     29
Zhejiang Chunfeng Power Co                                  27
Chongqing Jialing Jiapeng Industrial Co                     25
Name: count, dtype: int64

Engine:
Missing values: 14.92%
Data type: object
Number of unique values: 362
Top 5 most common values:
Engine
single cylinder four stroke air-cooled 125cc      431
single cylinder four stroke air-cooled 150cc      245
single cylinder four stroke water-cooled 150cc    173
single cylinder four stroke air-cooled 110cc      111
single cylinder four stroke water-cooled 250cc     83
Name: count, dtype: int64

Max Horsepower (Ps):
Missing values: 26.13%
Data type: float64
Number of unique values: 309
Mean: 21.36
Median: 12.60

Max Power/Speed (kW/rpm):
Missing values: 25.76%
Data type: object
Number of unique values: 628
Top 5 most common values:
Max Power/Speed (kW/rpm)
0.4/        104
5.2/7500     35
8.3/8000     35
5.2/         33
6.8/7500     33
Name: count, dtype: int64

Transmission:
Missing values: 14.55%
Data type: object
Number of unique values: 41
Top 5 most common values:
Transmission
-                                                                992
CVT continuously variable transmission automatic transmission    521
international 6-speed                                            461
international 5-speed                                            138
cycle 4-speed                                                     30
Name: count, dtype: int64

ABS:
Missing values: 9.59%
Data type: object
Number of unique values: 7
Top 5 most common values:
ABS
-           1395
standard     709
none         346
not            6
CBS            2
Name: count, dtype: int64

CBS:
Missing values: 0.00%
Data type: object
Number of unique values: 2
Top 5 most common values:
CBS
-         2130
xx(mm)     591
Name: count, dtype: int64

Dimensions (LxWxH mm):
Missing values: 16.43%
Data type: object
Number of unique values: 1840
Top 5 most common values:
Dimensions (LxWxH mm)
216x80x1050      11
2040              9
2165x805x1225     8
218x80x1080       8
2050              6
Name: count, dtype: int64

Seat Height (mm):
Missing values: 41.27%
Data type: float64
Number of unique values: 123
Mean: 771.22
Median: 770.00

Curb Weight (kg):
Missing values: 30.28%
Data type: float64
Number of unique values: 267
Mean: 146.38
Median: 130.00

Fuel Tank Capacity (L):
Missing values: 14.15%
Data type: float64
Number of unique values: 143
Mean: 9.16
Median: 9.00

Max Speed (km/h):
Missing values: 36.79%
Data type: float64
Number of unique values: 123
Mean: 103.12
Median: 95.00

Official Average Fuel Consumption (L/100km):
Missing values: 14.15%
Data type: object
Number of unique values: 113
Top 5 most common values:
Official Average Fuel Consumption (L/100km)
-      1667
2        89
2.5      73
2.2      45
2.3      39
Name: count, dtype: int64

Range (km):
Missing values: 0.00%
Data type: object
Number of unique values: 94
Top 5 most common values:
Range (km)
-      2262
400      41
500      35
300      28
100      22
Name: count, dtype: int64

Available Colors:
Missing values: 66.96%
Data type: object
Number of unique values: 834
Top 5 most common values:
Available Colors
white, silver, blue, black, red    8
gray                               5
green, red, white, black           5
black, red, white, blue, gray      4
black, white, red                  4
Name: count, dtype: int64

**Columns with less than 10% missing values are left in place but the rest will need to be imputed.**

**Categorical columns will be imputed with 'Not Specified' and the rest will be imputed with the median.**

**We're also creating flag columns to track which values were imputed.**

In [52]:
# Create copy of dataframe for imputation
df_imputed = df.copy()

# 1. Identify price-related columns and tech spec columns
price_columns = [col for col in df_imputed.select_dtypes(include=['int64', 'float64']).columns 
                 if 'price' in col.lower()]
tech_spec_columns = [col for col in df_imputed.select_dtypes(include=['int64', 'float64']).columns 
                    if col not in price_columns]

# 2. Impute prices with median and create flag columns
for col in price_columns:
    # Create flag column before imputation
    df_imputed[f'{col}_is_imputed'] = df_imputed[col].isna()
    # Perform imputation
    df_imputed[col] = df_imputed[col].fillna(df_imputed[col].median())

# 3. Impute technical specifications with median and create flag columns
for col in tech_spec_columns:
    # Create flag column before imputation
    df_imputed[f'{col}_is_imputed'] = df_imputed[col].isna()
    # Perform imputation
    df_imputed[col] = df_imputed[col].fillna(df_imputed[col].median())

# 4. Impute categorical columns with 'Not Specified'
categorical_columns = df_imputed.select_dtypes(include=['object']).columns
for col in categorical_columns:
    df_imputed[col] = df_imputed[col].fillna('Not Specified')

# Verify results
print("\nRemaining missing values after imputation:")
print(df_imputed.isna().sum())

# Show the new flag columns
flag_columns = [col for col in df_imputed.columns if col.endswith('_is_imputed')]
print("\nNew imputation flag columns:")
print(flag_columns)

# Show sample of rows where values were imputed
for col in price_columns + tech_spec_columns:
    imputed_rows = df_imputed[df_imputed[f'{col}_is_imputed']]
    if len(imputed_rows) > 0:
        print(f"\nSample of imputed values for {col}:")
        print(imputed_rows[[col, f'{col}_is_imputed']].head())

Remaining missing values after imputation:
Model Name                                     0
Reference Price (Yuan)                         0
Brand                                          0
Model                                          0
Production Method                              0
Origin                                         0
Engine                                         0
Max Horsepower (Ps)                            0
Max Power/Speed (kW/rpm)                       0
Transmission                                   0
ABS                                            0
CBS                                            0
Dimensions (LxWxH mm)                          0
Seat Height (mm)                               0
Curb Weight (kg)                               0
Fuel Tank Capacity (L)                         0
Max Speed (km/h)                               0
Official Average Fuel Consumption (L/100km)    0
Range (km)                                     0
Available Colors                               0
Max Horsepower (Ps)_is_imputed                 0
Seat Height (mm)_is_imputed                    0
Curb Weight (kg)_is_imputed                    0
Fuel Tank Capacity (L)_is_imputed              0
Max Speed (km/h)_is_imputed                    0
dtype: int64

New imputation flag columns:
['Max Horsepower (Ps)_is_imputed', 'Seat Height (mm)_is_imputed', 'Curb Weight (kg)_is_imputed', 'Fuel Tank Capacity (L)_is_imputed', 'Max Speed (km/h)_is_imputed']

Sample of imputed values for Max Horsepower (Ps):
    Max Horsepower (Ps)  Max Horsepower (Ps)_is_imputed
22                 12.6                            True
43                 12.6                            True
62                 12.6                            True
76                 12.6                            True
77                 12.6                            True

Sample of imputed values for Seat Height (mm):
    Seat Height (mm)  Seat Height (mm)_is_imputed
5              770.0                         True
13             770.0                         True
16             770.0                         True
22             770.0                         True
23             770.0                         True

Sample of imputed values for Curb Weight (kg):
    Curb Weight (kg)  Curb Weight (kg)_is_imputed
5              130.0                         True
6              130.0                         True
13             130.0                         True
19             130.0                         True
20             130.0                         True

Sample of imputed values for Fuel Tank Capacity (L):
    Fuel Tank Capacity (L)  Fuel Tank Capacity (L)_is_imputed
22                     9.0                               True
43                     9.0                               True
76                     9.0                               True
77                     9.0                               True
78                     9.0                               True

Sample of imputed values for Max Speed (km/h):
    Max Speed (km/h)  Max Speed (km/h)_is_imputed
5               95.0                         True
8               95.0                         True
18              95.0                         True
29              95.0                         True
30              95.0                         True

In [53]:
df_imputed.head()

,Model Name,Reference Price (Yuan),Brand,Model,Production Method,Origin,Engine,Max Horsepower (Ps),Max Power/Speed (kW/rpm),Transmission,...,Fuel Tank Capacity (L),Max Speed (km/h),Official Average Fuel Consumption (L/100km),Range (km),Available Colors,Max Horsepower (Ps)_is_imputed,Seat Height (mm)_is_imputed,Curb Weight (kg)_is_imputed,Fuel Tank Capacity (L)_is_imputed,Max Speed (km/h)_is_imputed
0,钛极 NEXY+/未界,Currently no quotation available,titanium,Pedal,domestic,Not Specified,single cylinder four stroke water-cooled 150cc,15.8,11.6/8500,Not Specified,...,8.0,105.0,-,-,Not Specified,False,False,False,False,False
1,钛极 BOHEMIA/波西米亚,Currently no quotation available,titanium,Pedal,domestic,Not Specified,single cylinder four stroke water-cooled 150cc,15.8,11.6/8500,CVT continuously variable transmission automat...,...,8.0,100.0,-,-,Titanium Extreme Silver,False,False,False,False,False
2,钛极 PHANTOM/飞腾,Currently no quotation available,titanium,Pedal,domestic,Not Specified,single cylinder four stroke water-cooled 300cc,25.2,18.5/8250,CVT continuously variable transmission automat...,...,11.0,118.0,-,-,Dark Night Black,False,False,False,False,False
3,钛极 HELLCAT/地狱猫,Currently no quotation available,titanium,Street car,domestic production,Not Specified,inline dual cylinder water-cooled 250cc,32.6,24/9500,-,...,13.0,120.0,-,-,Titanium Extreme Silver,False,False,False,False,False
4,柴特 ZFR525C 复仇者,29900,Chaite,Sports car,domestic production,Jiangmen Changhua Group Co,inline dual cylinder four stroke water-cooled ...,53.8,39.6/8500,international 6-speed,...,15.0,195.0,3.6,400,"Ice White, Track Blue",False,False,False,False,False

In [54]:
# Replace '-' and empty values with appropriate defaults
for column in df_imputed.columns:
    # For numeric columns, replace with -1
    if df_imputed[column].dtype in ['int64', 'float64']:
        df_imputed[column] = df_imputed[column].replace('-', -1)
        df_imputed[column] = df_imputed[column].replace('', -1)
    else:
        # For categorical/string columns, replace with 'Not specified' 
        df_imputed[column] = df_imputed[column].replace('-', 'Not specified')
        df_imputed[column] = df_imputed[column].replace('', 'Not specified')

# Verify results
print("\nSample rows after replacing '-' and empty values:")
print(df_imputed.head())

Sample rows after replacing '-' and empty values:
        Model Name            Reference Price (Yuan)     Brand       Model  \
0      钛极 NEXY+/未界  Currently no quotation available  titanium       Pedal
1  钛极 BOHEMIA/波西米亚  Currently no quotation available  titanium       Pedal
2    钛极 PHANTOM/飞腾  Currently no quotation available  titanium       Pedal
3   钛极 HELLCAT/地狱猫  Currently no quotation available  titanium  Street car
4   柴特 ZFR525C 复仇者                             29900    Chaite  Sports car

     Production Method                      Origin  \
0             domestic               Not Specified
1             domestic               Not Specified
2             domestic               Not Specified
3  domestic production               Not Specified
4  domestic production  Jiangmen Changhua Group Co

                                              Engine  Max Horsepower (Ps)  \
0     single cylinder four stroke water-cooled 150cc                 15.8
1     single cylinder four stroke water-cooled 150cc                 15.8
2     single cylinder four stroke water-cooled 300cc                 25.2
3            inline dual cylinder water-cooled 250cc                 32.6
4  inline dual cylinder four stroke water-cooled ...                 53.8

  Max Power/Speed (kW/rpm)                                       Transmission  \
0                11.6/8500                                      Not Specified
1                11.6/8500  CVT continuously variable transmission automat...
2                18.5/8250  CVT continuously variable transmission automat...
3                  24/9500                                      Not specified
4                39.6/8500                              international 6-speed

   ... Fuel Tank Capacity (L) Max Speed (km/h)  \
0  ...                    8.0            105.0
1  ...                    8.0            100.0
2  ...                   11.0            118.0
3  ...                   13.0            120.0
4  ...                   15.0            195.0

  Official Average Fuel Consumption (L/100km)     Range (km)  \
0                               Not specified  Not specified
1                               Not specified  Not specified
2                               Not specified  Not specified
3                               Not specified  Not specified
4                                         3.6            400

          Available Colors  Max Horsepower (Ps)_is_imputed  \
0            Not Specified                           False
1  Titanium Extreme Silver                           False
2         Dark Night Black                           False
3  Titanium Extreme Silver                           False
4    Ice White, Track Blue                           False

   Seat Height (mm)_is_imputed Curb Weight (kg)_is_imputed  \
0                        False                       False
1                        False                       False
2                        False                       False
3                        False                       False
4                        False                       False

  Fuel Tank Capacity (L)_is_imputed Max Speed (km/h)_is_imputed
0                             False                       False
1                             False                       False
2                             False                       False
3                             False                       False
4                             False                       False

[5 rows x 25 columns]

**We're now ready to save our preprocessed data to the `checkpoints` folder.**

In [55]:
# Save the preprocessed dataframe to checkpoints folder
df_imputed.to_csv('../data/checkpoints/imputed_full_motorcycle_data.csv', index=False)
print("Preprocessed data saved to checkpoints/preprocessed_data.csv")

Preprocessed data saved to checkpoints/preprocessed_data.csv

**Let's move on the next couple of data sheets.  While we can't iterate over such a number of files.  We can work with these manually.**

In [56]:
# Load the brochure motorcycle data
df_brochure = pd.read_csv('../data/formatted/brochure_motorcycle.csv')

# Drop columns with all missing values
df_brochure_cleaned = df_brochure.dropna(axis=1, how='all')

# Show info about dropped columns
dropped_cols = set(df_brochure.columns) - set(df_brochure_cleaned.columns)
print("\nColumns dropped due to all missing values:")
print(dropped_cols)

# Save the cleaned brochure dataframe
df_brochure_cleaned.to_csv('../data/checkpoints/full_brochure_motorcycle_data.csv', index=False)
print("\nCleaned brochure data saved to checkpoints/cleaned_brochure_motorcycle_data.csv")

Columns dropped due to all missing values:
{'Unnamed: 36', 'Unnamed: 75', 'Unnamed: 24', 'Unnamed: 64', 'Unnamed: 4', 'Unnamed: 38', 'Container loading （CKD', 'Unnamed: 76', 'Economical Fuel', 'Unnamed: 15', 'Unnamed: 19', '(mm)', 'Unnamed: 6', 'Unnamed: 80', 'Unnamed: 10', 'Unnamed: 17', 'Unnamed: 66', 'Minimum ground clearance', 'parts）(PCS)', 'Unnamed: 34', 'Unnamed: 26', 'Unnamed: 32', 'Unnamed: 30', 'Unnamed: 52', 'Unnamed: 42', 'Unnamed: 12', 'Unnamed: 60', 'Unnamed: 28', 'Unnamed: 22', 'Unnamed: 68', 'Wheel rim Size(Front/Rear)', 'Unnamed: 56', 'Unnamed: 49', 'Unnamed: 71', 'Unnamed: 45', 'Unnamed: 8', 'Unnamed: 2', 'packaging）(SET)', 'Unnamed: 40', 'Tire Size(Front/Rear)', 'Unnamed: 47', 'Unnamed: 87', 'Unnamed: 82', 'Unnamed: 85', 'Unnamed: 54', 'Unnamed: 83', 'Consumption (L/100km)', 'Unnamed: 62', 'Unnamed: 73', 'Unnamed: 78', 'Container loading （SKD', 'Unnamed: 58'}

Cleaned brochure data saved to checkpoints/cleaned_brochure_motorcycle_data.csv

In [57]:
df_exhibition = pd.read_csv('../data/formatted/brochure_exhibition.csv')

# Drop columns with all missing values
df_exhibition_cleaned = df_exhibition.dropna(axis=1, how='all')

# Save the cleaned exhibition dataframe
df_exhibition_cleaned.to_csv('../data/checkpoints/full_exhibition_motorcycle_data.csv', index=False)
print("\nCleaned exhibition data saved to checkpoints/cleaned_exhibition_motorcycle_data.csv")

Cleaned exhibition data saved to checkpoints/cleaned_exhibition_motorcycle_data.csv